div.searchFilter {
  display: inline-flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border: 2px solid black;

  tbody tr:hover {
    background-color: #1976d2;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 17px rgb(0 0 0 / 35%);
    transition: all 0.6s ease;
  }
}
